# Frontend
Frontend/node_modules/
Frontend/.expo/
Frontend/.env
Frontend/android/build/
Frontend/android/.gradle/
Frontend/android/.idea/
Frontend/android/.kotlin/

# Backend
Backend/venv/
Backend/.env
Backend/__pycache__/
Backend/**/__pycache__/
Backend/*.pyc

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
